h1  {
  font-family: monospace;
  background: black;
  color: silver;
}

ul {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  background: aqua;
  padding: 48px 0px;
  list-style-type: none;
}

a {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  color: crimson;
  background: lime;
  text-decoration: none;
}

* {
  background: whitesmoke;
}